/*-----------------------------------------------
                 Quicktabs
-----------------------------------------------*/
.block-quicktabs {
  .quicktabs-tabs {
    margin: 0 0 0 10px;

    li {
      display: inline-block;
      padding: 4px 8px;
      margin: 0 .2em;
      border: 1px solid #eee;
      border-radius: 5px 5px 0 0;
      border-bottom: none;
      margin-bottom: -1px;
      font-size: .8em;

      a {
        color: lighten($text-color, 25%);

        &:hover {
          color: $text-color;
        }
      }
      &.active {
        border-color: #ddd;
        display: inline-block;
        border-bottom: 1px solid white;
        margin-bottom: -1px;
        a {
          color: $text-color;
        }
      }
    }
  }
  .quicktabs-tabpage {
    padding: 5px 5px 0;
    border-radius: 5px;
     border: 1px solid #ddd;

    .views-row,
    .view-empty {
      @include box;
    }
  }
}
